.todo {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 1rem;
    transition: background .3s ease;

    p, input{
        margin:0;
    }

    &:hover{
        background: #f0f0f0;
    }
}

.todo__subtext{
    color: $golden-subtext-color;
    font-size: 0.75rem;
}

.todo-completed{
    p, .todo__subtext {
        text-decoration: line-through;
    }
    p{
        color: $light-color;
    }
    .todo__subtext{
        color: $golden-subtext-color;
    }
}